<%= form_for @trip do |f| %>
    <div class='field form-group'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class='field form-group'>
        <%= f.label :depart_from %>
        <%= f.text_field :depart_from, class: 'form-control' %>
    </div>
    <div class='field form-group'>
        <%= f.label :depart_date_time %>
        <%= f.datetime_field :depart_date_time, class: 'form-control' %>
    </div>
    <div class='field form-group'>
        <%= f.label :boat %>
        <%= f.select(:boat_id) do %>
            <%= options_from_collection_for_select(Boat.all, :id, :name) %>
        <% end %>
    </div>
    <div class='field form-group'>
        <%= f.label :skipper %>
        <%= f.text_field :skipper, class: 'form-control' %>
    </div>
    <div class='field form-group'>
        <%= f.label :available_seats %>
        <%= f.number_field :available_seats, class: 'form-control' %>
    </div>
    <div class='field form-group'>
        <%= f.label :starting_price %>
        <%= f.number_field :starting_price, class: 'form-control' %>
    </div>
    <div class='field form-group'>
        <%= f.label :comments %>
        <%= f.text_area :comments, class: 'form-control' %>
    </div>
    <div class='field form-group'>
        <%= f.submit "Update trip", class: 'btn btn-primary' %>
    </div>
<% end %>