<%= form_for @trip do |f| %>
    <div class='field form-group'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class='field form-group row'>
        <div class="col-sm-6">
            <%= f.label :depart_from %>
            <%= f.text_field :depart_from, class: 'form-control' %>
        </div>
        <div class="col-sm-6">
            <%= f.label "on: " %>
            <br/>
            <%= select_datetime DateTime.tomorrow, prefix: :depart_date_time %>
        </div>
        
        
    </div>
    <div class='field form-group'>
        <%= f.label :boat %>
        <%= f.select(:boat_id) do %>
            <%= options_from_collection_for_select(Boat.all, :id, :name) %>
        <% end %>
        <%= link_to "View Boats", boats_path, class: "btn btn-primary" %>
        <%= link_to "New Boat", new_boat_path, class: "btn btn-primary" %>
    </div>
    <div class='field form-group row'>
        <div class="col-sm-5">
            <%= f.label :skipper %>
            <%= f.text_field :skipper, class: 'form-control' %>
        </div>
        <div class="col-sm-3">
            <%= f.label :available_seats %>
            <%= f.number_field :available_seats, class: 'form-control' %>
        </div>
        <div class="col-sm-4">
            <%= f.label :starting_price %>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" id="starting_price" placeholder="Amount">
                <div class="input-group-addon">.00</div>
            </div>
        </div>
    </div>
    <div class='field form-group'>
        <%= f.label :comments %>
        <%= f.text_area :comments, class: 'form-control', rows: 6 %>
    </div>
    <div class='field form-group'>
        <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
<% end %>