<div class="container">
    <%= render "pages/aamenu" %>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <% @trips.each do |trip| %>
                <div class="well">
                    <div class="row">
                        <div class="col-sm-6">
                            <%= link_to trip_path(id: trip.id) do %>
                                <h4><%= trip.name %></h4>
                            <% end %>
                        </div>
                        <div class="col-sm-6">
                            <h6><%= "Leaving: " << trip.depart_from << " on: " << trip.depart_date_time.to_formatted_s(:long_ordinal) %></h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><%=  %></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <% @boats.each do |boat| %>
                                <% if boat.id == trip.boat_id %>
                                    <h4>Boat: <%= boat.name %></h4>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="col-sm-4">
                            <h4><%= "Skipper: " << trip.skipper %></h4>
                        </div>
                        <div class="col-sm-5">
                            <h5><%= trip.available_seats.to_s << " seats available at: $" << trip.starting_price.to_s << "0+ a seat" %></h5>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-md-1">
            <%= link_to "New Trip", new_trip_path, class: 'btn btn-primary' %>
            <%= link_to "New Looking for Trip", new_passenger_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>