<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                <h1><%= @trip.name %></h1>
                <h4><%= "Out of: " << @trip.depart_from %></h4>
                <h4><%= "on: " << @trip.depart_date_time.to_s %></h4>
                <h3><%= "$" << @trip.starting_price.to_s << "0+" %></h3>
                <h4>Boat: <%= link_to @boat.name, boat_path(id: @boat.id) %></h4>
                <h4><%= "Skipper: " << @trip.skipper %></h4>
                <h5><%= @trip.available_seats.to_s << " seats available" %></h5>
                <p><%= "Comments: " << @trip.comments %></p>
            </div>
            <%= link_to "Edit Trip", edit_trip_path(id: params[:id]), class: 'btn btn-primary' %>
        </div>
    </div>
</div>