<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well row">
                <div class="col-sm-2">
                    <h3><i class="fa fa-user-times"></i> <%= @application.seat_total.to_s %></h3>
                </div>
                <div class="col-sm-2">
                    <h3><i class="fa fa-dollar"></i> <%= @application.max_price_per_seat.to_s %> <small>each</small></h3>
                </div>
                <div class="col-sm-8">
                    <p><%= @application.details %></p>
                </div>
            </div>
            <% if @application.accepted %>
                <div class="bg-success">
                    <h3><i class="fa fa-check"></i> Accepted!</h3>
                </div>
            <% end %>
            <% if @application.declined %>
                <div class="bg-danger">
                    <h3><i class="fa fa-ban"></i> Declined</h3>
                </div>
            <% end %>
            
            <% if @owner.user_id == current_user.id %>
                <%= link_to "Accept", trip_trip_application_accept_path(trip_id: @application.trip_id, trip_application_id: @application.id) %>
                <%= link_to "Deny", trip_trip_application_deny_path(trip_id: @application.trip_id, trip_application_id: @application.id) %>
            <% end %>
        </div>
    </div>
</div>