<%= form_for @passenger, :html => { :multipart => true }  do |f| %>
    <div class="field form-group">
        <%= f.label :title %>
        <%= f.text_field :title, value: "test", class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= f.label "Earliest date:" %>
        <%= select_datetime Date.today, prefix: :start_date %>
    </div>
    <div class="field form-group">
        <%= f.label "Latest Date:" %>
        <%= f.datetime_field :latestdate, class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= f.label :details %>
        <%= f.text_area :details, class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= f.submit :Submit, class: "btn btn-primary" %>
    </div>
<% end %>