<div class="container">
    <%= render "pages/aamenu" %>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <% @passengers.each do |passenger| %>
                <div class="well row">
                    <div class="col-sm-6">
                        <%= link_to passenger_path(id: passenger.id) do %>
                            <%= passenger.title %>
                        <% end %>
                    </div>
                    <div class="col-sm-6">
                        Between:
                        <%= passenger.earliestdate.to_formatted_s(:short) %>
                        and
                        <%= passenger.latestdate.to_formatted_s(:short) %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-md-1">
            <%= link_to "New Looking for Trip", new_passenger_path, class: "btn btn-primary" %>
            <%= link_to "New Trip", new_trip_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>