<%= form_for @story, :html => { :multipart => true } do |f| %>
    <div class="field form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= f.label :date %>
        <%= select_date Date.today, prefix: :date %>
    </div>
    <div class="field form-group">
        <%= f.label :story %>
        <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= f.submit :Submit, class: "btn btn-default" %>
    </div>
<% end %>