<%= form_for @storie, :html => { :multipart => true } do |f| %>
    <div class="field form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= f.label :story %>
        <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= f.submit :submit, class: "btn btn-default" %>
    </div>
<% end %>