<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <% @logs.each do |mlog| %>
                <div class="well row">
                    <div class="col-sm-3">
                        <%= link_to log_path(id: mlog.id) do %>
                            <h3><%= mlog.title %></h3>
                        <% end %>
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-thumbs-up"></i><%= mlog.likes %>
                    </div>
                    <div class="col-sm-8">
                        <p><%= mlog.details %></p>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-md-1">
            <%= link_to "New Log", new_log_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>