<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h1 class="text-center"><%= @log.title %></h1>
                <i class="fa fa-thumbs-up"></i><%= @log.likes %>
                <h5><%= @log.startdate %></h5>
                <h5><%= @log.enddate %></h5>
                <p><%= @log.details %></p>
            </div>
        </div>
    </div>
</div>