<div class='container'>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <% @boats.each do |boat| %>
                <div class='well row'>
                    <div class='col-sm-4'>
                        <%= link_to boat_path(id: boat.id) do %>
                            <h2><%= boat.name %></h2>
                        <% end %>
                    </div>
                    <div class='col-sm-4'>
                        <h4><%= "Owned by: " << boat.owner %></h4>
                        <h4><%= "Out of: " << boat.home_port %></h4>
                    </div>
                    <div class='col-sm-3'>
                        <h4><%= "$" << boat.price.to_s << "0+" %></h4>
                        <h6><%= "Top speed: " << boat.speed.to_s << " knots" %></h6>
                        <h6><%= "Capacity: " << boat.capacity.to_s %></h6>
                    </div>
                    <div class='col-sm-1'>
                        <%= link_to "/#" do %>
                            <i class='fa fa-trash btn btn-default'></i>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>